<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments.count %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" class="img-responsive">
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes.count %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>
      <dt>Fans</dt>
      <dd><% @the_photo.fans.each do |fan_list| %>
      <%= fan_list.username %>
       <%end%>
       </dd>
    </dl>
    <form action="/insert_like", method="post">
    <input type="hidden" name="query_fan_id" value="<%=@current_user.id%>">
    <input type="hidden" name="query_photo_id" value="<%=@the_photo.id%>">
    <button>Like</button>
   
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" enctype="multipart/form-data"  >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>
        <img src="<%= @the_photo.image %>" class="img-responsive" >
        <input type="file" id="image_box" name="image" value="< @the_photo.image"> 
      </div>

   

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <button>
        Update photo
      </button>
      </form>
      <a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a>
      <table>
        <tr>
          <th>Commenter</th>
          <th>Comment</th>
          <th>Posted</th>
        </tr>
      <% @the_photo.comments.each do |the_comment|%>
        <tr>
        <td><%= the_comment.commenter.username %></td>
        <td><%= the_comment.body %></td>
        <td><%= time_ago_in_words(the_comment.created_at) %></td>
        </tr>
        <% end %>
      </table>
        <form action="/insert_comment" method="post">
      <input type="hidden" value="<%=@the_photo.id %>" name="query_photo_id">
      <label for ="browser_comment">Comment</label>
      <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>
      <button>Add comment</button>
    </form>
  </div>
</div>
